<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Forms</title>
</head>
<body>



<h2>Creazione attività vuota</h2>
<form>

  <input
          type="text"
          id="text"
          (change)="cambioNome($event)"
          placeholder="Nome attività"
        />

        <h3>Anno Accademico Inizio</h3>
  <div>
    <!--<label for="annoInizio">Anno accademico di inizio:</label>-->
    <input type="number" id="annoInizio" name="annoInizio" [(ngModel)]="annoAccademicoInizio" required minlength="4" maxlength="4">
  </div>
  <h3>Anno Accademico Fine</h3>
  <div>
    <!--<label for="annoFine">Anno accademico di fine:</label>-->
    <input type="number" id="annoFine" name="annoFine" [(ngModel)]="annoAccademicoFine" required minlength="4" maxlength="4">
  </div>

  <div>
    <input
    type="text"
    id="text"
    (change)="cambioScuola($event)"
    placeholder="Scuola"
  />
  </div>
  <div>
    <input
          type="text"
          id="text"
          (change)="cambioCitta($event)"
          placeholder="Citta"
        />
  </div>


  <button (click)="inviaForm()">Carica!</button>
  
</form>




<!-- Parte della pagina HTML in alto a destra -->
<div class="top-right">
  <h2>Carica Attività Definitivamente</h2>
  <div class="container">
    <div>
      <button (click)="toggleDropdown()">Mostra Attività</button>
      <div *ngIf="showDropdown">
        <h2>Attività Presenti</h2>
        <select [(ngModel)]="selectedItem" (change)="onSelectionChange($event)">
          <option *ngFor="let item of items" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>
    <div>
      <button (click)="handleButtonClick()" class="btn">Carica Definitivamente</button>
    </div>
  </div>
</div>


</body>
</html>