<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Forms</title>
</head>
<body>

  <div class="centered-title">
    <h2>Creazione attività vuota</h2>
  </div>
<form>

<input
          type="text"
          id="text"
          (change)="cambioNome($event)"
          placeholder="Nome attività"
        />
        <input
        type="text"
        id="text"
        (change)="cambioTipo($event)"
        placeholder="Tipo attività"
      />

 



  <div>
      <label for="sede">Sede</label>
      <select id="sede" name="sede" [(ngModel)]="sede" (change)="onSedeChange($event)">
          <option value="online">Online</option>
          <option value="università">Università</option>
          <option value="scuola">Scuola</option>
          <option value="altro">Altro</option>
      </select>
  </div>




      <label for="citta">Città</label>
      <input type="text" id="citta" name="citta" [(ngModel)]="citta" (change)="cambioCitta($event)" required>
      <button (click)="toggleDropdownS()"class="btn">Cerca Scuola!</button>
      
      <div *ngIf="showDropdownS">
     
        <h3>ScuolePresenti</h3>
        
        <select [(ngModel)]="selectedItem" (change)="onSelectionChangeS($event)">
          <option *ngFor="let scuola of scuole" [value]="scuola">{{scuola}}</option>
        </select>
      </div>
 



  <!-- <div>
          <label for="annoInizio">Anno accademico di inizio:</label>
          <input type="number" id="annoInizio" name="annoInizio" [(ngModel)]="annoAccademicoInizio" required minlength="4" maxlength="4">
        </div>
        <div>
          <label for="annoFine">Anno accademico di fine:</label>
          <input type="number" id="annoFine" name="annoFine" [(ngModel)]="annoAccademicoFine" required minlength="4" maxlength="4">
        </div>-->
  <div class="flex-container">
    <div class="flex-item">
      <label for="annoInizio">Anno accademico di inizio:</label>
      <input type="number" id="annoInizio" name="annoInizio" [(ngModel)]="annoAccademicoInizio" required minlength="4" maxlength="4">
    </div>
    <div class="flex-item">
      <label for="annoFine">Anno accademico di fine:</label>
      <input type="number" id="annoFine" name="annoFine" [(ngModel)]="annoAccademicoFine" required minlength="4" maxlength="4">
    </div>
  </div>

  <div class="flex-container">
    <div class="flex-item">
      <label for="dataInizio">Data Inizio</label>
      <input type="datetime-local" id="dataInizio" name="dataInizio" required>
    </div>
    <div class="flex-item">
      <label for="dataFine">Data Fine</label>
      <input type="datetime-local" id="dataFine" name="dataFine" required>
    </div>
  </div>
  

  <input
  type="text"
  id="text"
  (change)="cambioDescrizione($event)"
  placeholder="Descrizione"
/>

<div>
  <label for="prof">Professore Referente</label>

  <button (click)="toggleDropdownP()"class="btn">Cerca Professore Referente!</button>
      
  <div *ngIf="showDropdownP">
 
    <h3>Professori Presenti</h3>
    
    <select [(ngModel)]="selectedItem" (change)="onSelectionChange($event)">
      <option *ngFor="let prof of professori" [value]="prof">{{prof}}</option>
    </select>
  </div>

</div>

<div>
  <label for="prof">Professore Unicam</label>

  <button (click)="toggleDropdownU()"class="btn">Cerca Professore Unicam!</button>
      
 <!-- <div *ngIf="showDropdownU">
 
    <h3>Professori Unicam Presenti</h3>
    
    <select [(ngModel)]="selectedItem" (change)="onSelectionChange($event)">
      <option *ngFor="let profUnicam of professoriUnicam" [value]="profUnicam">{{profUnicam}}</option>
    </select>
  </div>
-->
<div class="container" *ngIf="showDropdownU">
  <h3>Professori Unicam Presenti</h3>
  <label for="profDropdown"></label>
  <select id="profDropdown" [(ngModel)]="selectedProf" multiple>
      <option *ngFor="let profUnicam of professoriUnicam" [value]="profUnicam">{{profUnicam}}</option>
  </select>
  <button (click)="saveSelections()">Salva Selezioni</button>
</div>

</div>


<button type="button" (click)="inviaForm()">Carica!</button>

</form>



<div class="centered-title">
  <h2>Termina Possibilità Iscrizione </h2>
</div>
 <form>
 
    <div>
      <button (click)="toggleDropdown()"class="btn">Mostra Attività</button>
      <div *ngIf="showDropdown">
        <h3>Attività Presenti</h3>
        
        <select [(ngModel)]="selectedItem" (change)="onSelectionChangeAtt($event)">
          <option *ngFor="let item of items" [value]="item">{{item}}</option>
        </select>
      
      </div>
    </div>
    <div>
      <button (click)="handleButtonClick()" class="btn">Termina Iscrizione </button>
    </div>

</form>

</body>
</html>



