<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Forms</title>
</head>
<body>

  <div class="centered-title">
    <h2>Creazione attività vuota</h2>
  </div>
<form>

  <input
          type="text"
          id="text"
          (change)="cambioNome($event)"
          placeholder="Nome attività"
        />

        <h3>Anno Accademico Inizio</h3>
  <div>
    
    <input type="number" id="annoInizio" name="annoInizio"  [(ngModel)]="annoAccademicoInizio" required minlength="4" maxlength="4">
  </div>
  <h3>Anno Accademico Fine</h3>
  <div>

    <input type="number" id="annoFine" name="annoFine" [(ngModel)]="annoAccademicoFine" required minlength="4" maxlength="4">
  </div>

  <div>
    <input
    type="text"
    id="text"
    (change)="cambioScuola($event)"
    placeholder="Scuola"
  />
  </div>
  <div>
    <input
          type="text"
          id="text"
          (change)="cambioCitta($event)"
          placeholder="Citta"
        />
  </div>


  <button (click)="inviaForm()">Carica!</button>
  
</form>



<div class="centered-title">
  <h2>Carica Attività Definitivamente</h2>
</div>
 <form>
 
    <div>
      <button (click)="toggleDropdown()"class="btn">Mostra Attività</button>
      <div *ngIf="showDropdown">
        <h3>Attività Presenti</h3>
        
        <select [(ngModel)]="selectedItem" (change)="onSelectionChange($event)">
          <option *ngFor="let item of items" [value]="item">{{item}}</option>
        </select>
      
      </div>
    </div>
    <div>
      <button (click)="handleButtonClick()" class="btn">Carica Definitivamente</button>
    </div>

</form>

</body>
</html>



