<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="sd-lst">
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="stats" class="lst lst1">Statistiche</mat-list-item>
      <mat-list-item role="listitem" routerLink="map" class="lst lst2">Mappa</mat-list-item>
      <mat-list-item role="listitem" routerLink="upload" class="lst lst3">Upload</mat-list-item>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
