.container{
  width: 100%;
}


.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.wrapper > div{
  display: block;
  margin: 0 auto;
}

.image-container{
  display: flex;
  margin: 0 auto;
  image-rendering: optimizeQuality;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


input{
  display: block;
  width: 100%;
}

button{
  display: block;
}




.upload{
  margin-top: 200px;
  margin-left: 400px;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


