


.container{
 
  display: block;
  max-width:1200px;
  margin: 0 auto;
  padding: 0 24px;

  
}



.wrapper {
  display: block;
  max-width: 100%;
  margin: 0 auto;

}

.bottoni {
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-bottom: 32px;
}

.bottoni>button{
  width: 170px;
}

.generato > div {
  display: grid;
}

.btn1:hover{
  background-color: blue;
}
.btn2:hover{
  background-color: red;
}
.btn3:hover{
  background-color: green;
}
.btn4:hover{
  background-color: yellow;
 
}



mat-panel-description.right-aligned {
  flex-grow: 0;
  gap: 10px;

}

#scaricaProfButton {
  position: absolute;
  top: 65px; 
  right: 600px; 
  background-color: green;
  color: white;
}
#scaricaScuoleButton {
  position: absolute;
  top: 75px; 
  right: 600px; 
  background-color: green;
  color: white;

}
#scaricaRisButton{
  position: absolute;
  top: 75px; 
  right: 600px;
  background-color: green;
  color: white;
}
#scaricaProfUnicamButton {
  position: absolute;
  top: 65px; 
  right: 600px; 
  background-color: green;
  color: white;
}



.button {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.spazio {
  margin-top: 50px; 
}